<!DOCTYPE html>
<html>
  <head>
    <title><%= IsItBroken.application_name %> Status</title>
    <style type="text/css">
      body {
        font-size: 13px;
        font-family: sans-serif;
      }
      h1 {
        font-size: 18px;
        font-weight: bold;
      }
      table {
        width: 100%;
        border-size: 0;
        padding: 0;
        margin: 0;
        border-spacing: 0;
      }
      td, th {
        text-align: left;
        font-size: 13px;
        font-family: sans-serif;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid gray;
      }
      th {
        font-weight: bold;
      }
      .success {
        color: green;
      }
      .failure {
        color: red;
      }
      .warning {
        color: orange;
      }
      .banner {
        margin: 1rem 0;
        border-width: 1px;
        border-style: solid;
        padding: 1rem;
        font-weight: bold;
        font-size: larger;
        text-align: center;
      }
      .banner.success {
        color: white;
        background-color: green;
        border-color: green;
      }
      .banner.warning {
        color: white;
        background-color: orange;
        border-color: orange;
      }
      .banner.failure {
        color: white;
        background-color: red;
        border-color: red;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow, nosnippet">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="banner <%= status %>">
      <%= ERB::Util.h(IsItBroken.application_name) %> Status: <%= status.to_s.upcase %>
    </div>
    <p>
      <div>Timestamp: <%= ERB::Util.h(timestamp.httpdate) %></div>
      <div>Elapsed Time: <%= elapsed_time_ms %>ms</div>
    </p>
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Message</th>
      </thead>
      <tbody>
        <% results.each do |result| %>
          <% result.assertions.each do |assertion| %>
            <tr class="<%=assertion.status%>">
              <td><%= ERB::Util.h(assertion.status_label) %></td>
              <td><%= ERB::Util.h(result.name) %></td>
              <td><%= ERB::Util.h(assertion.message) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
